html {
    font-size:  10px;
}

*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}
p, ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    font: inherit;
    background: transparent;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
td {
    text-align: center;
    vertical-align: center;
}


.text {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    color: #1f2041;
    line-height: 1.5rem;
    /* во всех браузерах по умолчанию font-weight: 400, font-style: normal */
}
.text-b {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.4rem;
    color: #1f2041;
    line-height: 1.8rem;
}
.text-m {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.9rem;
    color: #1f2041;
    line-height: 2.3rem;
    font-weight: 700;
}
.text-l {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 2.4rem;
    color: #1f2041;
    line-height: 2.9rem;
    font-weight: 700;
}

.text_fs14 {
    font-size: 1.4rem;
}
.text_fs24 {
    font-size: 2.4rem;
}

.text_lh17 {
    line-height: 1.7rem;
}
.text_lh18 {
    line-height: 1.8rem;
}
.text_lh20 {
    line-height: 2rem;
}
.text_lh22 {
    line-height: 2.2rem;
}
.text_lh29 {
    line-height: 2.9rem;
}


.text_bold {
    font-weight: 700;
}
.text_ttu {
    text-transform: uppercase;
}
.text_ttn {
    text-transform: none;
}

.text_BC9CFF {
    color: #BC9CFF;
}
.text_1F2041-05 {
    color: rgba(31, 32, 65, 0.5);
}
.text_1F2041-075 {
    color: rgba(31, 32, 65, 0.75);
}
.text_1F2041-025 {
    color: rgba(31, 32, 65, 0.25);
}
.text_FFF {
    color: #FFF;
}
.text_000 {
    color: #000;
}


.mb_22px {
    /* нижний отступ 2.2rem, а не 2.1, так как line-height двух строчек получается 5.8rem,
     а высота текста в макете 5.9rem */
    margin-bottom: 2.2rem;
}
.mb_5px {
    margin-bottom: 0.5rem;
}
.mb_20px {
    margin-bottom: 2rem;
}
.mb_31px {
    margin-bottom: 3.1rem;
}
.mb_10px {
    margin-bottom: 1rem;
}
.mb_23px {
    margin-bottom: 2.3rem;
}
.mb_24px {
    margin-bottom: 2.4rem;
}
.mb_30px {
    margin-bottom: 3rem;
}
.mb_40px {
    margin-bottom: 4rem;
}
.mb_12px {
    margin-bottom: 1.2rem;
}
.mb_16px {
    margin-bottom: 1.6rem;
}
.mb_26px {
    margin-bottom: 2.6rem;
}
.mb_8px {
    margin-bottom: 0.8rem;
}
.mb_26px {
    margin-bottom: 2.2rem;
}


.ml_20px {
    margin-left: 2rem;
}
.ml_10px {
    margin-left: 1rem;
}
.ml_5px {
    margin-left: 0.5rem;
}
.ml_40px {
    margin-left: 4rem;
}
.ml_4px {
    margin-left: 0.4rem;
}



.lh_20px {
    line-height: 2rem;
}
.lh_18px {
    line-height: 1.8rem;
}
.lh_17px {
    line-height: 1.7rem;
}
.lh_22px {
    line-height: 2.2rem;
}



.cards {
    display: flex;
    width: 144rem;
    height: 135rem;
    background: #E5E5E5;
    padding: 15rem 14rem 14rem 14rem ;
}
.wrapper__column1 {
    width: 38rem;
}
.wrapper__column1_row1 {
    width: 38rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 3rem 3rem 3rem;
}
.rooms-search__wrapper-2inputs {
    display: flex;
    justify-content: space-between;
}
.rooms-search_width-15rem {
    width: 15rem;
}
.rooms-search__wrapper-select {
    position: relative;
}
.rooms-search__wrapper-select::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 1.75rem;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}
.rooms-search__input {
    font: inherit;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.75);
    width: 100%;
    height: 4.4rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
}
.rooms-search__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
    text-transform: none;
}
/* здесь получилось избежать использования класса field__input-hidden */
.rooms-search__input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.rooms-search__select {
    appearance: none;
    text-transform: none;
}
.rooms-search__button {
    width: 32rem;
    height: 4.4rem;
    border-radius: 2.2rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: relative;
}
.rooms-search__button::after {
    content:"";
    position: absolute;
    width: 4.4rem;
    height: 4.4rem;
    right: 0;
    top: 50%;
    margin-top: -2.2rem;
    background-image: url("img/icons/arrow_forward_white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.booking__wrapper {
    display: flex;
    justify-content: space-between;
}
.registration__radio-wrapper {
    display: flex;
}
.registration__radio-button {
    display: flex;
}
.registration__radio {
    display: none;
}
.registration__fake-input {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
}
.registration__fake-input::before {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.registration__radio:checked + .registration__fake-input {
    border: 1px solid #BC9CFF;
}
.registration__radio:checked + .registration__fake-input::before {
    display: block;
}
.registration__radio:checked ~ .text-b {
    color: rgba(31, 32, 65, 0.75);
}
.registration__toggle {
    position: relative;
    width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
}
.registration__toggle::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
}
.registration__toggle::after {
    content: "";
    position: absolute;
    display: none;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.registration__radio:checked + .registration__toggle {
    border: 1px solid #BC9CFF;
}
.registration__radio:checked + .registration__toggle::before {
    display: none;
}
.registration__radio:checked + .registration__toggle::after {
    display: block;
}
.registration__wrapper-button-href {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registration__button {
    width: 9.9rem;
    height: 4.4rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2.2rem;
}
.registration__button_padding {
    padding: 0.2rem;
}
.registration__button_inside {
    width: 9.5rem;
    height: 4rem;
    border-radius: 2.2rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.check__wrapper {
    display: flex;
}
.check-i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
}
.check__text-i {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25);
}
.check__add-services {
    min-width: 21.4rem;
}


.wrapper__column3_row1 {
    width: 32rem;
    background-color: #FFFFFF;
    padding: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
}
.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar_green {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.calendar_purple {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}


.wrapper__column3_row2 {
    width: 27rem;
    height: 25.7rem;
    background-color: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
}

/* у картинки не скруглились углы */
.room__img-wr {
    width: 27rem;
    height: 15rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.room__img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.room_md {
    margin: 2rem 1.7rem 0.8rem 2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.room__button {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);;
    width: 4.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.room__button_right {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.room__button::after {
    content: "";
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid #FFF;
    border-left: 0;
    border-top: 0;
    pointer-events: none;
    transform: rotateZ(135deg);
}
.room__rounds-wrapper {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.room__image-scroll {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: 1px solid #FFF;
}
.room__image-scroll_active {
    background-color: #FFF;
}
.room__text-wr {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-left: 2rem;
    margin-right: 1.7rem;
}
.room__like-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.room__star-wrapper {
    display: flex;
}
.room__button-star {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}
.room__text-wrapper {
    height: 2.4rem;
    display: flex;
    align-items: center;
}


.room__back-img2 {
    width: 27rem;
    height: 15rem;
    background-image: url(img/icons/image2.jpg);
    display: flex;
    justify-content: space-between;
}