html {
    font-size:  10px;
}

*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}
p, ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
button {
    font: inherit;
    background: transparent;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.text {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    color: #1f2041;
    line-height: 1.5rem;
    /* во всех браузерах по умолчанию font-weight: 400, font-style: normal */
}
.text-b {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.4rem;
    color: #1f2041;
    line-height: 1.8rem;
}

.text_fs14 {
    font-size: 1.4rem;
}
.text_fs24 {
    font-size: 2.4rem;
}


.text_lh17 {
    line-height: 1.7rem;
}
.text_lh18 {
    line-height: 1.8rem;
}
.text_lh29 {
    line-height: 2.9rem;
}
.text_lh20 {
    line-height: 2rem;
}
.text_lh22 {
    line-height: 2.2rem;
}
.text_lh14 {
    line-height: 1.4rem;
}


.text_bold {
    font-weight: 700;
}
.text_ttu {
    text-transform: uppercase;
}
.text_ttn {
    text-transform: none;
}


.text_BC9CFF {
    color: #BC9CFF;
}
.text_1F2041-05 {
    color: rgba(31, 32, 65, 0.5);
}
.text_1F2041-075 {
    color: rgba(31, 32, 65, 0.75);
}
.text_1F2041-025 {
    color: rgba(31, 32, 65, 0.25);
}
.text_FFF {
    color: #FFF;
}
.text_000 {
    color: #000;
}

.text_right {
    float: right;
}

.display_b {
    display: block;
}
.display_i-b {
    display: inline-block;
}

/* убирает невидимый пробел между псевдоклассом и текстом,
также можно убрать через запись спанов в одну строку без пробелов */
.display_f {
    display: flex;
}

.block_mt-3px {
    margin-top: -0.3rem;
}

.block_mb20px {
    margin-bottom: 2rem;
}
.block_mb22px {
    margin-bottom: 2.2rem;
}
.block_mb40px {
    margin-bottom: 4rem;
}
.block_mb41px {
    margin-bottom: 4.1rem;
}
.block_mb5px {
    margin-bottom: 0.5rem;
}
.block_mb16px {
    margin-bottom: 1.6rem;
}
.block_mb10px {
    margin-bottom: 1rem;
}
.block_mb14px {
    margin-bottom: 1.4rem;
}
.block_mb30px {
    margin-bottom: 3rem;
}
.block_mb31px {
    margin-bottom: 3.1rem;
}
.block_mb46px {
    margin-bottom: 4.6rem;
}
.block_mb7px {
    margin-bottom: 0.7rem;
}
.block_mb19px {
    margin-bottom: 1.9rem;
}
.block_mb17px {
    margin-bottom: 1.7rem;
}
.block_mb8px {
    margin-bottom: 0.8rem;
}
.block_mb15px {
    margin-bottom: 1.5rem;
}


.block_ml223px {
    margin-left: 22.3rem;
}
.block_ml10px {
    margin-left: 1rem;
}
.block_ml20px {
    margin-left: 2rem;
}
.block_ml19px {
    margin-left: 1.9rem;
}
.block_ml30px {
    margin-left: 3rem;
}
.block_ml14px {
    margin-left: 1.4rem;
}

.Form-Elements__row {
    display: flex;
    margin-top: 14.3rem;
    margin-left: 14rem;
}
.Form-Elements__row1_column1 {
    width: 32rem;
}
.field {
    display: block;
}
.field__name {
    display: inline-block;
}
.field__input {
    font: inherit;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.75);
    width: 100%;
    height: 4.4rem;
    padding: 0 1.5rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    outline: none;
}
.field__input-hidden::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.field__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}
.field__input:hover, .field__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.field__select {
    appearance: none;
}
.field__wrapper-select {
    display: block;
    position: relative;
}
.field__wrapper-select::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 1.75rem;
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}
.field__wrapper-2inputs {
    display: flex;
    justify-content: space-between;
}
.field_small {
    display: block;
    width: 15rem;
}
.field_middle {
    display: block;
    width: 26.6rem;
}
.field__href {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.4rem;
    width: 4.4rem;
    height: 4.4rem;
}


.Form-Elements__row1_column2 {
    margin-left: 12.6rem;
    width: 26rem;
}
.checkbox-button__label {
    display: flex;
}
.checkbox-button__input {
    display: none;
}
.checkbox-button__fake-input {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
}
.checkbox-button__fake-input::before, 
.checkbox-button__fake-input::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.3rem;
    height: 0.8rem;
    width: 0.6rem;
    transform: rotate(45deg);
}
.checkbox-button__fake-input::before {
    display: none;
    margin-top: -0.5rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.checkbox-button__fake-input::after {
    margin-top: -0.8rem;
    background: #FFFFFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input {
    border: 1px solid #BC9CFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input::before {
    display: block;
}
.radio-button_round {
    border-radius: 50%;
}
.radio-button_round::before {
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}
.radio-button_round::after {
    display: none;
}
.radio-button__wrapper {
    display: flex;
    justify-content: space-between;
    width: 22.074rem;
}
.radio-button {
    display: flex;
}
.radio-button__input {
    display: none;
}
.radio-button__input:checked + .radio-button_round {
    border: 1px solid #BC9CFF;
}
.radio-button__input:checked ~ .text-b {
    color: rgba(31, 32, 65, 0.75);
}
.radio-button__input:checked + .radio-button_round::before {
    display: block;
}
.toggle {
    display: flex;
}
.toggle__input {
    display: none;
}
.toggle__input_fake {
    position: relative;
    width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
}
.toggle__input_fake::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
}
.toggle__input_fake::after {
    content: "";
    position: absolute;
    display: none;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__input:checked + .toggle__input_fake {
    border: 1px solid #BC9CFF;
}
.toggle__input:checked + .toggle__input_fake::before {
    display: none;
}
.toggle__input:checked + .toggle__input_fake::after {
    display: block;
}
.button-like__wrapper {
    display: flex;
}
.button-like {
    display: flex;
    align-items: center;
    min-width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
    background: #FFFFFF;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.button-like__heart {
    width: 0.8rem;
    margin-right: 0.6rem;
}
.button-like__text { 
    color: rgba(31, 32, 65, 0.25);
    min-width: 1rem;
    text-align: center;
}
.button-like_pressed {
    border-color: #BC9CFF;
}
.button-like_pressed .button-like__text {
    color: #BC9CFF;
}
.rate-button__wrapper {
    display: flex;
}
.rate-button {
    display: flex;
}
.button__star {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}

.wrapper__row1_column3 {
    margin-left: 13.2rem;
}

.interim__wrapper {
    width: 26.6rem;
    height: 4.7rem;
}
.button {
    width: 9.9rem;
    height: 4.4rem;
    background: #FFFFFF;
    border-radius: 2.2rem;
}
.button_linear-gradient {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button_linear-gradient_op05 {
    background: linear-gradient(180deg, rgba(188,156,255,0.5) 0%, rgba(139,164,249,0.5) 100%);
}
.button_padding {
    padding: 0.2rem;
}
.button_opacity050 {
    opacity: 0.5;
}
.button_inside {
    width: 9.5rem;
    height: 4rem;
    border-radius: 2.2rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_opacity {
    opacity: 0.5;
}
.button_long {
    width: 32rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: relative;
}
.button_long::after {
    content:"";
    position: absolute;
    width: 4.4rem;
    height: 4.4rem;
    right: 0;
    top: 50%;
    margin-top: -2.2rem;
    background-image: url("img/icons/arrow_forward_white.png");
    background-repeat: no-repeat;
    background-position: center;
}
.pagination__href_active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
}
.pagination__href {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #FFFFFF;
}
.pagination__href-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
/* если display_n поднять выше не работает */
.display_n {
    display: none;
}

.wrapper__row2 {
    display: flex;
    margin-top: 10rem;
    margin-left: 14rem;
    margin-bottom: 5.444rem;
}
.wrapper__row2_column1 {
    width: 26.6rem;
}
.field_square-angles {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    appearance: none;
}
.table__select {
    width: 100%;
    font: inherit;
    height: 4.4rem;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.75);
    background: #FFFFFF;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    outline: none;
    appearance: none;
}
.table__select_border05 {
    border: 0.1rem solid rgba(31, 32, 65, 0.5);
}
.table__wrapper-counter {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 0.6rem 0.7rem 0.8rem 1.5rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.table__wrapper-counter_w266h119 {
    width: 26.6rem;
    height: 11.9rem;
}
.table_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table__button {
    width: 3rem;
    height: 3rem;
    background: #FFFFFF;
    border-radius: 50%;
    border: 0.1rem solid rgba(31, 32, 65, 0.25);
}
.table__amount {
    display: inline-block;
    min-width: 2.6rem;
    text-align: center;
}
.table__wrapper-column2 {
    width: 32rem;
    margin-left: 18.1rem;
}
.table__wrapper-counter_w320h159 {
    width: 32rem;
    height: 15.9rem;
}
.button_opacity025 {
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
}
.table__wrapper-column3 {
    width: 32rem;
    margin-left: 7.2rem;
}


.wrapper__row3 {
    margin-left: 14rem;
    display: flex;
    margin-bottom: 10.2rem;
}
.wrapper__row3_column1 {
    width: 26.6rem;
}
.expandable-list {
    outline: none;
}
.expandable-list:first-child {
    margin-bottom: 4.9rem;
}
.expandable-list__summary {
    display: block;
    outline: none;
}
.expandable-list__summary::-webkit-details-marker {
    display: none;
}
.expandable-list[open] > .expandable-list__summary::after {
    transform: rotate(-135deg);
    margin-top: -0.2rem;
  }
.checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
}
.wrapper__row3_column2 {
    width: 26.6rem;
    margin-left: 18rem;
}
.wrapper__third-row_column3 {
    width: 29.2rem;
    margin-left: 12.6rem;
}
.bullet-list__item {
    position: relative;
    display: flex;
    margin-bottom: 1.3rem;
}
.bullet-list__text {
    line-height: 2.1rem;
}
.bullet-list__item::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
    margin-top: 0.4rem;
}
.wrapper__row4 {
    margin-left: 14rem;
    margin-bottom: 13.1rem;
    display: flex;
}
.wrapper__fourth-row_column1 {
    width: 29.1rem;
}
.advantages {
    display: flex;
    border-bottom: 0.1rem solid rgba(31, 32, 65, 0.1);
    padding-bottom: 2rem;
}
.advantages__img {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages_padding-down {
    padding-top: 2rem;
}
.wrapper__fourth-row_column2 {
    width: 71.1rem;
    margin-top: 1rem;
    margin-left: 15.6rem;
}