:root {
    --main-font:#1f2041;
}

html {
    font-size:  10px;
}

*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    color: var(--main-font);
    line-height: 1.5rem;
}
p, ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
button {
    font: inherit;
    background: #FFFFFF;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrapper__first-row {
    display: flex;
    /* width: 115.9rem; */
    /* height: 63.6rem; */
    margin-top: 14.3rem;
    margin-left: 14rem;
}



.wrapper__first-row_column1 {
    width: 32rem;
}
.field {
    display: block;
}
.field__text {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
.field__margin_2044rem {
    margin-bottom: 2.044rem;
}
.field__margin_2000rem {
    margin-bottom: 2rem;
}
.field__margin_2256rem {
    margin-bottom: 2.256rem;
}
.field__margin_4000rem {
    margin-bottom: 4rem;
}
.field__margin_4056rem {
    margin-bottom: 4.056rem;
}
.field__margin_4100rem {
    margin-bottom: 4.1rem;
}
.field__margin_0500rem {
    margin-bottom: 0.5rem;
}
.field__margin_0544rem {
    margin-bottom: 0.544rem;
}
.field__margin_-0300rem {
    margin-top: -0.3rem;
}
.field__margin_0800rem {
    margin-bottom: 0.8rem;
}
.checkbox-button__margin_1656 {
    margin-bottom: 1.656rem;
}
.checkbox-button__margin_1600 {
    margin-bottom: 1.6rem;
}
.checkbox-button__margin_1056 {
    margin-bottom: 1.056rem;
}
.checkbox-button__margin_1000 {
    margin-bottom: 1rem;
}
.checkbox-button__margin_4088 {
    margin-bottom: 4.088rem;
}
.checkbox-button__margin_4056 {
    margin-bottom: 4.056rem;
}
.checkbox-button__margin_1400 {
    margin-bottom: 1.4rem;
}
.checkbox-button__margin_4444 {
    margin-bottom: 4.444rem;
}
.checkbox-button__margin-left_3000 {
    margin-left: 3rem;
}
.button_margin-left_1900 {
    margin-left: 1.9rem;
}
.button__margin_3000 {
    margin-bottom: 3rem;
}
.button_margin-left_2000 {
    margin-left: 2rem;
}
.button__margin_3100 {
    margin-bottom: 3.1rem;
}
.button__margin_3044 {
    margin-bottom: 3.044rem;
}
.button__margin_1644 {
    margin-bottom: 1.644rem;
}
.table__margin_0456rem {
    margin-bottom: 0.456rem;
}
.list__margin_1744 {
    margin-bottom: 1.744rem;
}
.list__margin_1500 {
    margin-bottom: 1.5rem;
}
.field__input {
    font: inherit;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.75);
    width: 100%;
    height: 4.4rem;
    padding: 0 1.5rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    outline: none;
}
.field__input-hidden::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.field__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}
.field__input:hover, .field__input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.field__text_side {
    font-weight: 400;
    opacity: 0.5;
    float: right;
}
.field__select {
    appearance: none;
}
.field__wrapper-select {
    display: block;
    position: relative;
}
.field__wrapper-select::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 1.75rem;
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}
.field__wrapper-2inputs {
    display: flex;
    justify-content: space-between;
}
.field__width_15rem {
    width: 15rem;
}
.field__width_26rem {
    width: 26.6rem;
}
.field__href {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.4rem;
    width: 4.4rem;
    height: 4.4rem;
}
.field_margin-left {
    margin-left: 22.3rem;
}

.wrapper__first-row_column2 {
    margin-left: 12.6rem;
    width: 26rem;
}
/* убирает невидимый пробел между псевдоклассом и текстом, также можно убрать через запись спанов в одну строку без пробелов */
.checkbox-button {
    display: flex;
    /* font-size: 0; */
}
.checkbox-button__text {
    font-size: 14px;
    line-height: 1.8rem;
    margin-left: 1rem;
    color: rgba(31, 32, 65, 0.5);
}

/* когда используем display: none отпраятся ли данные на сервер? */
.checkbox-button__input {
    display: none;
}
.checkbox-button__fake-input {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
}
.checkbox-button__fake-input::before, 
.checkbox-button__fake-input::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.3rem;
    height: 0.8rem;
    width: 0.6rem;
    transform: rotate(45deg);
}
.checkbox-button__fake-input::before {
    display: none;
    margin-top: -0.5rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.checkbox-button__fake-input::after {
    margin-top: -0.8rem;
    background: #FFFFFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input {
    border: 1px solid #BC9CFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input::before {
    display: block;
}
.checkbox-button__fake-input_radio {
    border-radius: 50%;

}
.checkbox-button__fake-input_radio::before {
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}
.checkbox-button__fake-input_radio::after {
    display: none;
}
.checkbox-button__radio-wrapper {
    display: flex;
    justify-content: space-between;
    width: 22.074rem;
}
.checkbox-button__input:checked + .checkbox-button__radio-input {
    border: 1px solid #BC9CFF;
}
.checkbox-button__input:checked ~ .checkbox-button__text_radio {
    color: rgba(31, 32, 65, 0.75);
}
.checkbox-button__input:checked + .checkbox-button__radio-input::before {
    display: block;
}
.checkbox-button__fake-input-toggle {
    position: relative;
    width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
}
.checkbox-button__fake-input-toggle::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
}
.checkbox-button__fake-input-toggle::after {
    content: "";
    position: absolute;
    display: none;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.checkbox-button__text_opacity075 {
    color: rgba(31, 32, 65, 0.75);
}
.checkbox-button__input:checked + .checkbox-button__fake-input-toggle {
    border: 1px solid #BC9CFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input-toggle::before {
    display: none;
}
.checkbox-button__input:checked + .checkbox-button__fake-input-toggle::after {
    display: block;
}
.button-like-button-wrapper {
    display: flex;
    margin-bottom: 4rem;
}
.button-like {
    display: flex;
    align-items: center;
    min-width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
    background: #FFFFFF;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.button-like__heart {
    width: 0.8rem;
    margin-right: 0.6rem;
}
.button-like__text { 
    color: rgba(31, 32, 65, 0.25);
    min-width: 1rem;
    text-align: center;
}
.button-like_pressed {
    border-color: #BC9CFF;
}
.button-like__margin_left {
    margin-left: 1rem;
}
.button-like_pressed .button-like__text {
    color: #BC9CFF;
}
/* .button__text_pressed {
    color: #BC9CFF;
} */
.button__star-greater-wrapper {
    display: flex;
}
.button__star-wrapper {
    display: flex;
}
.button__star-margin_left {
    margin-left: 2rem;
}
.button__star {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}

.wrapper__first-row_column3 {
    margin-left: 13.2rem;
}

.interim__wrapper {
    width: 26.6rem;
    height: 4.744rem;
}
.button__wrapper-2buttons {
    display: flex;
}
.button {
    width: 9.9rem;
    height: 4.4rem;
    background: #FFFFFF;
    border-radius: 2.2rem;
}
.button_linear-gradient {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button__text {
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}
.button_opacity {
    opacity: 0.5;
}
.button__text_BC9CFF {
    color: #BC9CFF;
}
.button_border-BC9CFF {
    border: 0.2rem solid #BC9CFF;
}
.button_transparent-border {
    border: 0.2rem solid rgba(188, 156, 255, 0.5);
}
.button__text_1f204180 {
    color: #1f204180;
}
.button_long {
    width: 32rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: relative;
}
.button_long::after {
    content:"";
    position: absolute;
    width: 4.4rem;
    height: 4.4rem;
    right: 0;
    top: 50%;
    margin-top: -2.2rem;
    background-image: url("img/icons/arrow_forward_white.png");
    background-repeat: no-repeat;
    background-position: center;
}
.button_margin-left {
    margin-left: 27.6rem;
}
.button__wrapper-href {
    display: flex;
}
.pagination__href_active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
}
.pagination__href {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #FFFFFF;
}
.pagination__href-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.d-none {
    display: none;
}


.wrapper__second-row {
    display: flex;
    margin-top: 10rem;
    margin-left: 14rem;
    margin-bottom: 5.444rem;
}
.wrapper__second-row__column1 {
    width: 26.6rem;
}
.field__input_square-angles {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    appearance: none;
}
.table__margin0700 {
    margin-bottom: 0.7rem;
}
.table__select {
    width: 100%;
    font: inherit;
    height: 4.4rem;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.75);
    background: #FFFFFF;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    outline: none;
    appearance: none;
}
.table__select_border05 {
    border: 0.1rem solid rgba(31, 32, 65, 0.5);
}
.table__wrapper-counter {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 0.6rem 0.7rem 0.8rem 1.5rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.table__wrapper-counter_w266h119 {
    width: 26.6rem;
    height: 11.9rem;
}
.table__text-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table__button {
    width: 3rem;
    height: 3rem;
    background: #FFFFFF;
    border-radius: 50%;
    border: 0.1rem solid rgba(31, 32, 65, 0.25);
}
.table__amount {
    display: inline-block;
    min-width: 2.6rem;
    text-align: center;
}
.table__wrapper-column2 {
    width: 32rem;
    margin-left: 18.1rem;
}
.table__wrapper-counter_w320h159 {
    width: 32rem;
    height: 15.9rem;
}
.button_opacity025 {
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
}
.table__button-apply {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    float: right;
}
.table__margin_1900 {
    margin-bottom: 1.9rem;
}
.table__wrapper-column3 {
    width: 32rem;
    margin-left: 7.2rem;
}
.table__button-clear {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}


.wrapper__third-row {
    margin-left: 14rem;
    display: flex;
    margin-bottom: 10.2rem;
}
.wrapper__third-row_column1 {
    width: 26.6rem;
}
.expandable-list {
    outline: none;
}
.expandable-list:first-child {
    margin-bottom: 4.9rem;
}
.expandable-list__summary {
    display: block;
    outline: none;
}
.expandable-list__summary::-webkit-details-marker {
    display: none;
}
.expandable-list[open] > .expandable-list__summary::after {
    transform: rotate(-135deg);
    margin-top: -0.2rem;
  }
.checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
}
.wrapper__third-row_column2 {
    width: 26.6rem;
    margin-left: 18rem;
}
.checkbox-button__text_bold {
    font-weight: bold;
}
.checkbox-button__text_fs12 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
}
.wrapper__third-row_column3 {
    width: 29.2rem;
    margin-left: 12.6rem;
}
.bullet-list__item {
    position: relative;
    display: flex;
    margin-bottom: 1.3rem;
}
.bullet-list__text {
    line-height: 2.1rem;
}
.bullet-list__item::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
    margin-top: 0.4rem;
}
.wrapper__fourth-row {
    margin-left: 14rem;
    margin-bottom: 13.1rem;
    display: flex;
}
.wrapper__fourth-row_column1 {
    width: 29.1rem;
}
.advantages {
    display: flex;
    border-bottom: 0.1rem solid rgba(31, 32, 65, 0.1);
    padding-bottom: 2rem;
}
.advantages__img {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages__text {
    margin-bottom: 0.8rem;
    display: block;
}
.advantages_padding-down {
    padding-top: 2rem;
}
.wrapper__fourth-row_column2 {
    width: 71.1rem;
    margin-top: 1rem;
    margin-left: 15.6rem;
}
.comments {
    display: flex;
}
.comments__margin-left {
    margin-left: 1.413rem;
}
